[submodule "Glitter/Vendor/glad"]
    path = Wolf/Vendor/glad
    url = https://github.com/Dav1dde/glad.git
    branch = c
[submodule "Glitter/Vendor/stb"]
    path = Wolf/Vendor/stb
    url = https://github.com/nothings/stb.git
    branch = master
[submodule "Glitter/Vendor/wolfengine"]
    path = Wolf/Vendor/wolfengine
    url = git@github.com:cppdvl/wolfimporter.git
    branch = master
